server:
  port: 8090

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/exampleDB?createDatabaseIfNotExist=true
    username: admin
    password: MiPassUsuario123!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
  properties:
    hibernate:
  hibernate:
    ddl-auto: update
  dialect: org.hibernate.dialect.MySQL8Dialect
